@import 'bower_components/normalize.css/normalize';
* {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  max-width: 90%;
  margin: 0 auto;
  padding: 2em 0;
  font-weight: 100;
  text-align: center;
}

h2 {
  padding: 1em 0;
}

h1.money {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

figure {
  position: relative;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.shader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

section {
	margin: 0 auto;
	max-width: 320px;	
}

section.first {
  color: white;
  background-color: #444450;
  margin-bottom: 0;

}

section.second {
  padding-top: 250px;
  background-color: #da4a03;
  color: white;
  padding-bottom: 4em;
}

section.wall {
  overflow: hidden;
}

section.wall img {
  float: left;
  max-width: 50%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}
